<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>

    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="../assets/fontawesome-free-6.1.0-web/css/all.css"
    />
    <!-- Custom CSS-->
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    <nav class="nav-container">
      <a href="index.html" class="circles-container">
        <div class="big-circle circle">
          <div class="smaller-circle circle"></div>
        </div>
        <div class="smallest-circle circle"></div>
      </a>

      <!--Nav links-->
      <article class="nav-links-container">
        <ul class="link-list nav-links">
          <li class="home link-text">
            <a href="home.html">HOME +</a>
          </li>
          <li class="pages link-text">
            <a href="./about.html">ABOUT +</a>
          </li>

        
          <li class="works link-text">
            <a href="./works.html">WORKS +</a>
          </li>
          <li class="galleries link-text">
            <a href="../Views/gallery.html">GALLERIES +</a>
          </li>
          <li class="contact link-text">
            <a href="./contact.html">CONTACT +</a>
          </li>
        </ul>
      </article>
      <article class="icon-border nav-icon bar-icon" id="home-bars">
        <span class="icon"><i class="fa-solid fa-bars"></i></span>
      </article>

      <article class="icon-border search-icon search-bar">
        <span class="icon home-icon">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
      </article>

      <article class="icon-border nav-icon left-arrow" id="nav-menu">
        <span class="icon"><i class="fa-solid fa-angle-left"></i></span>
      </article>
    </nav>
    <div class="nav-arrow">
      <a href="#">
        <span>
          <i class="fa fa-arrow-up up-arrow" aria-hidden="true"></i
        ></span>
      </a>
    </div>
    <!--End of the Nav Section-->
   <!--Dropdown Menu-->
   <section class="dropdown-menu">
    <ul class="dropdown-menu-list">
      <li>
        <a href="./index.html">HOME</a>
        
      </li>
      <li >
        <a href="./Views/about.html">ABOUT</a>
        
      <li >
        <a href="./Views/works.html">WORKS</a>
      </li>
      <li >
        <a href="./Views/gallery.html">GALLERIES</a>
      </li>
      <li>
        <a href="./Views/contact.html">CONTACT</a>
      </li>
    </ul>
  </section>
   
     <!--Sidebar Menu-->
     <section class="sidebar-menu">
      <div class="sidebar-dark-container"></div>

      <div class="sidebar-menu-container">
        <div class="close-btn-container">
          <span><i class="fa fa-times" id="close-btn" aria-hidden="true"></i></span>

        </div>
        <h4 class="sidebar-header">ABOUT</h4>
        <article class="sidebar-profile"> 
          <div>
            <img src="../assets/images/about-me.jpg" alt="" class="sidebar-img">
          </div>
          <p>Sarah Johnes is the world’s most influential creative model agency photographer, founder and director of award-winning fashion website.</p>
        </article>
       <h4 class="address-header">CONTACTS</h4>
       <p class="address">4096 N Highland St, Arlington</p>
       <p class="address">VA 32101, USA.</p>
       <p class="address">info@example.com</p>
       <p class="address">800 1234 56 78</p>
       <h4>CATEGORIES</h4>
       <ul>
         <li>Animals</li>
         <li>Architecture</li>
         <li>Business & Work</li>
         <li>Editorial</li>
         <li>Fashion</li>
         <li>Food & Drink</li>
         <li>Nature</li>
         <li>Portrait</li>
         <li>Travel</li>
       </ul>
       <h4>NEWSLETTER SIGNUP</h4>
       <div class="email-container">
        <input type="text" class="email-input" placeholder="Email Address">
        <button type="submit" class="signup-btn">
          <span><i class="fas fa-envelope"></i></span>
        </button>
      </div>
    </div>
    
    </section>
    <section class="contact-banner about-banner">
      <div class="contact-banner-container">
        <h2>WHO WE ARE</h2>
        <article class="contact-page-link">
          <a href="/index.html">HOME</a>
          <h5>/</h5>
          <h4>WHO WE ARE</h4>
        </article>
      </div>
    </section>
    <section class="about-page-details">
      <div class="single-about-image">
        <img
          src="../assets/images/about-images/photographer-woman.jpg"
          alt=""
          class="about-one-image about-page-image"
        />
      </div>
      <div class="single-about-image">
        <img
          src="../assets/images/about-images/Beautiful_woman-268x300.jpg"
          alt=""
          class="about-two-image about-page-image"
        />
      </div>
      <div class="single-about-image">
        <img
          src="../assets/images/about-images/woman_with_mask.jpg"
          alt=""
          class="about-page-image about-third-image"
        />
      </div>
      <div class="about-page-statements">
        <h3>BIOGRAPHY</h3>
        <p class="about-page-quotes">
          "I guess I’m a fairly simple photographer. There is very little
          hocus-pocus about what I do."<br />
          <span class="about-page-author">___Joan Dean</span>
        </p>
        <p class="about-page-texts">
          I shoot because I see. I shoot because if I don’t, I don’t know who
          will. Activism is seen as a dirty word. I shoot because I find peace
          in being especially active, and being a vigorous advocate for a cause.
          Photography can defeat time. Images can keep the memory of a loved one
          alive, hold a moment in history for future generations, be a witness
          to tragedy or joy.
        </p>
        <div class="button-container">
          <a href="#" class="banner-button"
            >SEE OUR WORK
            <span class="icon banner-icon"
              ><i class="fa-solid fa-chevron-right"></i></span
          ></a>
        </div>
      </div>
    </section>
    <!--About Categories-->
    <section class="about-page-categories">
      <div class="about-categories-details">
        <h4>WHAT I LOVE TO SHOOT</h4>
        <p>
          I shoot because I see. I shoot because if I don’t, I don’t know who
          will. Activism is seen as a dirty word.
        </p>
        <div class="about-page-list">
          <ul>
            <li>Editorial</li>
            <li>Nature</li>
            <li>Architecture</li>
            <li>Business & Work</li>
            <li>Animals</li>
            <li>Travel</li>
            <li>Fashion</li>

          </ul>
          <ul>
            <li>Food & Drink</li>
            <li>Spirituality</li>
            <li>Experimental</li>
            <li>People</li>
            <li>Health</li>
            <li>Arts & Culture</li>
          </ul>
        </div>
        <div class="button-container about-page-btn">
          <a href="#" class="banner-button"
            >VIEW MORE
            <span class="icon banner-icon"
              ><i class="fa-solid fa-chevron-right"></i></span
          ></a>
        </div>
      </div>
      <div class="about-page-details-box">

        <article class="about-single-category category-one">
          <div class="about-category-container">
            <p>N 0.1</p>
            <h4>PRIVATE</h4>
            <div class="small-underline about-underline"></div>
            <div class="button-container" id="about-category-link">
              <a href="#" class="banner-button"
              >VIEW MORE
              <span class="icon banner-icon"
              ><i class="fa-solid fa-chevron-right"></i></span
              ></a>
            </div>
          </div>
      </article>
      <article class="about-single-category category-two">
        <div class="about-category-container">
          <p>N 0.2</p>
          <h4>EDITORIAL</h4>
          <div class="small-underline about-underline"></div>
          <div class="button-container" id="about-category-link">
            <a href="#" class="banner-button"
            >VIEW MORE
            <span class="icon banner-icon"
            ><i class="fa-solid fa-chevron-right"></i></span
            ></a>
          </div>
        </div>
      </article>
      <article class="about-single-category category-three">
        <div class="about-category-container">
          <p>N 0.3</p>
          <h4>EDITORIAL</h4>
          <div class="small-underline about-underline"></div>
          <div class="button-container" id="about-category-link">
            <a href="#" class="banner-button"
            >VIEW MORE
            <span class="icon banner-icon"
            ><i class="fa-solid fa-chevron-right"></i></span
            ></a>
          </div>
        </div>
      </article>
      <article class="about-single-category category-four">
        <div class="about-category-container">
          <p>N 0.4</p>
          <h4>TRAVEL</h4>
          <div class="small-underline about-underline"></div>
          <div class="button-container" id="about-category-link">
            <a href="#" class="banner-button"
            >VIEW MORE
            <span class="icon banner-icon"
            ><i class="fa-solid fa-chevron-right"></i></span
            ></a>
          </div>
        </div>
      </div>
      </article>
    </section>
    <!--Testimonial Section-->
      <section class="testimonial-section">
        <span
          ><i class="fa fa-chevron-left testimonial-icon" aria-hidden="true"></i
        ></span>
        <article class="testimonial-statements">
          <h4 class="testimonial-header">WHAT PEOPLE SAY</h4>
          <h3 class="testimonial-text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil,
            nemo.
          </h3>
          <div class="testimonial-underline"></div>
          <p class="client-name">SAMANTHA JOHNES, CA</p>
        </article>
        <span
          ><i
            class="fa fa-chevron-right testimonial-icon testimonial-next"
            aria-hidden="true"
          ></i
        ></span>
      </section>
      <footer class="footer-section">
        <div class="footer-items-container">

        
        <article class="email-section footer-single-item">

          <h4>SEND EMAIL</h4>
          <div class="small-underline"></div>
          <p class="footer-text">INFO@EXAMPLE.COM<br>CONTACTS@EXAMPLE.COM</p>
         
          <div class=" small-underline big-underline"></div>
        </article>
        <article class="call-section footer-single-item">
        <h4>CALL US</h4>
        <div class="small-underline"></div>
        <h3>800 1234 5678</h3>
        <div class=" small-underline big-underline"></div>
        </article>
        <article class="visit-section footer-single-item">
          <h4>VISIT US</h4>
          <div class="small-underline"></div>
          <p class="footer-text">4096 N HIGHLAND ST,<br>
          ARLINGTON VA 32101,USA</p>
          <div class="small-underline big-underline last-underline"></div>
        </article>
      </div>
        <article class="newsletter-section footer-single-item">
          <div class="footer-signup">

            <div class="copyright-text"><p>&copy; 2021 - Oni by GT3Themes. Image Credits.</p></div>
            <div class="newsletter-container">
              <h4>Newsletter Signup</h4>
              <div class="email-container">
                <input type="text" class="email-input" placeholder="Email Address">
                <button type="submit" class="signup-btn">
                  <span><i class="fas fa-envelope"></i></span>
                </button>
              </div>
              
            </div>
          </div>
          <!--Footer Icons-->
          <div class="social-icons footer-icons">
            <span>
              <a href=""><i class="fa-brands fa-twitter social-icon"></i></a>
              
            </span>
            
            <span>
              <a href=""><i class="fa-brands fa-linkedin-in social-icon"></i></a></span>
              <span>
                <a href="">
                  
                  <i class="fa-brands fa-facebook social-icon"></i
                    ></span>
                  </a>
                  <span>
                    <a href=""><i class="fa-brands fa-instagram social-icon"></i></a>
                  </span>
                </div>
        </article>
        </footer>
        
      <!--End of testimonial section-->
      <script src="../JavaScript/contact.js"></script>
  </body>
  </html>
  