<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery</title>
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="../assets/fontawesome-free-6.1.0-web/css/all.css"
    />

    <!-- Custom CSS-->
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    <div class="container">
      <nav class="nav-container">
        <a href="index.html" class="circles-container">
          <div class="big-circle circle">
            <div class="smaller-circle circle"></div>
          </div>
          <div class="smallest-circle circle"></div>
        </a>

        <!--Nav links-->
        <article class="nav-links-container">
          <ul class="link-list nav-links">
            <li class="home link-text">
              <a href="../index.html">HOME +</a>
            </li>
            <li class="pages link-text">
              <a href="./about.html">ABOUT +</a>

            </li>

            <!--End of Pages Dropdown-->
            <li class="works link-text">
              <a href="./works.html">WORKS +</a>

            </li>
            <li class="galleries link-text">
              <a href="../Views/gallery.html">GALLERIES +</a>
             
            </li>
            <li class="contact link-text">
              <a href="../Views/contact.html">CONTACT +</a>
            </li>
          </ul>
        </article>
        <article class="icon-border nav-icon bar-icon" id="home-bars">
          <span class="icon"><i class="fa-solid fa-bars"></i></span>
        </article>

        <article class="icon-border search-icon search-bar">
          <span class="icon home-icon">
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
        </article>

        <article class="icon-border nav-icon left-arrow" id="nav-menu">
          <span class="icon"><i class="fa-solid fa-angle-left"></i></span>
        </article>
      </nav>

   <!--Dropdown Menu-->
   <section class="dropdown-menu">
    <ul class="dropdown-menu-list">
      <li>
        <a href="./index.html">HOME</a>
        
      </li>
      <li >
        <a href="./Views/about.html">ABOUT</a>
        
      <li >
        <a href="./Views/works.html">WORKS</a>
      </li>
      <li >
        <a href="./Views/gallery.html">GALLERIES</a>
      </li>
      <li>
        <a href="./Views/contact.html">CONTACT</a>
      </li>
    </ul>
  </section>
   
     <!--Sidebar Menu-->
     <section class="sidebar-menu">
      <div class="sidebar-dark-container"></div>

      <div class="sidebar-menu-container">
        <div class="close-btn-container">
          <span><i class="fa fa-times" id="close-btn" aria-hidden="true"></i></span>

        </div>
        <h4 class="sidebar-header">ABOUT</h4>
        <article class="sidebar-profile"> 
          <div>
            <img src="../assets/images/about-me.jpg" alt="" class="sidebar-img">
          </div>
          <p>Sarah Johnes is the world’s most influential creative model agency photographer, founder and director of award-winning fashion website.</p>
        </article>
       <h4 class="address-header">CONTACTS</h4>
       <p class="address">4096 N Highland St, Arlington</p>
       <p class="address">VA 32101, USA.</p>
       <p class="address">info@example.com</p>
       <p class="address">800 1234 56 78</p>
       <h4>CATEGORIES</h4>
       <ul>
         <li>Animals</li>
         <li>Architecture</li>
         <li>Business & Work</li>
         <li>Editorial</li>
         <li>Fashion</li>
         <li>Food & Drink</li>
         <li>Nature</li>
         <li>Portrait</li>
         <li>Travel</li>
       </ul>
       <h4>NEWSLETTER SIGNUP</h4>
       <div class="email-container">
        <input type="text" class="email-input" placeholder="Email Address">
        <button type="submit" class="signup-btn">
          <span><i class="fas fa-envelope"></i></span>
        </button>
      </div>
    </div>
    
    </section>
      <div class="nav-arrow">
        <a href="#">
          <span>
            <i class="fa fa-arrow-up up-arrow" aria-hidden="true"></i
          ></span>
        </a>
      </div>
      <header class="gallery-page-header">
        <h3>Oni Gallery</h3>
        <p>
          All about creating holistic meaningful wellbeing experiences with a
          focus on physical movement, contemporary spirituality and expressing
          creativity for modern.
        </p>
      </header>
      <section class="gallery-images-container">
        <div class="gallery-one">
          <div class="single-gallery-image one">
            <img
              src="../assets/images/gallery-images/Model-trendy-living_coral - Copy.jpg"
              alt=""
              class="first-image"
            />
          </div>
          <div class="single-gallery-image two">
            <img
              src="../assets/images/gallery-images/Stylish-girl-posing-floral-wreath.jpg"
              alt=""
              class="second-image"
            />
          </div>
          <div class="single-gallery-image three">
            <img
              src="../assets/images/gallery-images/Mixed-race-man_hat - Copy.jpg"
              alt=""
              class="third-image"
            />
          </div>
          <div class="single-gallery-image four">
            <img
              src="../assets/images/gallery-images/Portrait-of-beautiful_girl - Copy.jpg"
              alt=""
              class="fourth-image"
            />
          </div>
        </div>
<div class="gallery-two">
        <div class="single-gallery-image five">
          <img
            src="../assets/images/gallery-images/Stylish-mixed-race-man-hat.jpg"
            alt=""
            class="fifth-image"
          />
        </div>

        <div class="single-gallery-image six">
          <img
            src="../assets/images/gallery-images/Girl-with-perfect-skin.jpg"
            alt=""
            class="sixth-image"
          />
        </div>
        <div class="single-gallery-image seven">
          <img
            src="../assets/images/gallery-images/Young-african-woman-bikini_posing.jpg"
            alt=""
            class="seventh-image"
          />
        </div>
        <div class="single-gallery-image eight">
          <img
            src="../assets/images/gallery-images/Sensual-woman-with-bright-makeup.jpg"
            alt=""
            class="eighth-image"
          />
        </div>
      </div>
      <div class="gallery-three">
        <div class="single-gallery-image nine">
          <img
            src="../assets/images/gallery-images/Pensive-girl-goldfishes-aquarium_looking.jpg"
            alt=""
            class="nineth-image"
          />
        </div>
        <div class="single-gallery-image ten">
          <img
          src="../assets/images/gallery-images/Woman-enjoying-bath.jpg"
          alt=""
          class="tenth-image"
          />
        </div>
        <div class="single-gallery-image eleven">
          <img
          src="../assets/images/gallery-images/Portrait-of-beautiful-young-woman.jpg"
          alt=""
          class="eleventh-image"
          />
        </div>
        <div class="single-gallery-image twelve">
          <img
            src="../assets/images/gallery-images/Holding-polyethylene-while_standing.jpg"
            alt=""
            class="twelveth-image"
          />
        </div>
      </div>
      <!--Gallery Four-->
      <div class="gallery-four">
        <div class="single-gallery-image thirteen">
          <img
            src="../assets/images/gallery-images/Fashion-style.jpg"
            alt=""
            class="thirteenth-image"
          />
        </div>

        <div class="single-gallery-image fourteen">
          <img
            src="../assets/images/gallery-images/Young-brunette-woman.jpg"
            alt=""
            class="fourteenth-image"
          />s
        </div>
        
        <div class="single-gallery-image fifteen">
          <img
            src="../assets/images/gallery-images/Fashionable-near-neon-sign.jpg"
            alt=""
            class="fifteenth-image"
          />
        </div>
        <div class="single-gallery-image sixteen">
          <img
            src="../assets/images/gallery-images/Fashion-romantic-colorful.jpg"
            alt=""
            class="sixteenth-image"
          />
        </div>
      </div>
      <div class="gallery-five">

        <div class="single-gallery-image seventeen">
          <img
          src="../assets/images/gallery-images/Pretty-young-woman-portrait_sunset.jpg"
          alt=""
          class="seventeenth-image"
          />
        </div>
        <div class="single-gallery-image eighteen">
          <img
          src="../assets/images/gallery-images/Stylish-pretty-woman-sitting-yellow.jpg"
          alt=""
          class="eighteenth-image"
          />
        </div>
        <div class="single-gallery-image nineteen">
          <img
          src="../assets/images/gallery-images/Close-view-young-woman.jpg"
          alt=""
          class="nineteenth-image"
          />
        </div>
        <div class="single-gallery-image twenty">
          <img
          src="../assets/images/gallery-images/Fashionable-mixed-race-man-hat.jpg"
          alt=""
          class="twentyth-image"
          />
        </div>
        <div class="single-gallery-image twenty-one">
          <img
          src="../assets/images/gallery-images/Woman-with-dark_hair.jpg"
          alt=""
          class="twenty-first-image"
          /> 
        </div>
      </div>
      <!--Gallery Six-->
      <div class="gallery-six">

        <div class="single-gallery-image twenty-two">
          <img
          src="../assets/images/gallery-images/Two-beautiful-girls-in-casual.jpg"
          alt=""
          class="twenty-second-image"
          />
        </div>
        <div class="single-gallery-image twenty-three">
          <img
          src="../assets/images/gallery-images/Woman-in-sexy-sportswear-posing.jpg"
          alt=""
          class="twenty-third-image"
          />
        </div>
        <div class="single-gallery-image twenty-four">
          <img
          src="../assets/images/gallery-images/Stunning-woman-in-bikini.jpg"
          alt=""
          class="twenty-fourth-image"
          />
        </div>
        <div class="single-gallery-image twenty-five">
          <img
          src="../assets/images/gallery-images/Beautiful-woman-black_dress.jpg"
          alt=""
          class="twenty-fifth-image"
          />
        </div>
        <div class="single-gallery-image twenty-six">
          <img
          src="../assets/images/gallery-images/Fashion-outdoor-beautiful_sexy.jpg"
          alt=""
          class="twenty-sixth-image"
          />
        </div>
      </div>
      <!--Gallery Seven-->
      <div class="gallery-seven">
        <div class="single-gallery-image twenty-seven">
          <img
          src="../assets/images/gallery-images/Creativity.jpg"
          alt=""
          class="twenty-seventh-image"
          />
        </div>
        <div class="single-gallery-image twenty-eight">
          <img
            src="../assets/images/gallery-images/Elegant-brunnette_women.jpg"
            alt=""
            class="twenty-eighth-image"
          />
        </div>
        <div class="single-gallery-image twenty-nine">
          <img
            src="../assets/images/gallery-images/Fashion-young-woman.jpg"
            alt=""
            class="twenty-nineth-image"
          />
        </div>
        <div class="single-gallery-image thirty">
          <img
            src="../assets/images/gallery-images/Girl-with-a-glass-of-coffee.jpg"
            alt=""
            class="thirtyth-image"
          />
        </div>
        <div class="single-gallery-image thirty-one">
          <img
            src="../assets/images/gallery-images/Beautiful-sunset.jpg"
            alt=""
            class="thirty-first-image"
          />
        </div>
      </div>
      <!--Gallery-eight-->
      <div class="gallery-eight">

     
        <div class="single-gallery-image thirty-two">
          <img
            src="../assets/images/gallery-images/Girl-with-a-bicycle.jpg"
            alt=""
            class="thirty-second-image"
          />
        </div>
        <div class="single-gallery-image thirty-three">
          <img
            src="../assets/images/gallery-images/Beautiful-woman-sitting.jpg"
            alt=""
            class="thirty-third-image"
          />
        </div>
        <div class="single-gallery-image thirty-four">
          <img
            src="../assets/images/gallery-images/Girl-look.jpg"
            alt=""
            class="thirty-fourth-image"
          />
        </div>
        <div class="single-gallery-image thirty-five">
          <img
            src="../assets/images/gallery-images/No-smile.jpg"
            alt=""
            class="thirty-fifth-image"
          />
        </div>
        <div class="single-gallery-image thirty-six">
          <img
            src="../assets/images/gallery-images/Looking-at-the-rocks.jpg"
            alt=""
            class="thirty-sixth-image"
          />
        </div>
      </div>
      <div class="gallery-nine">
<!--Gallery Nine-->
      
        <div class="single-gallery-image thirty-seven">
          <img
            src="../assets/images/gallery-images/Winter-walks.jpg"
            alt=""
            class="thirty-seventh-image"
          />
        </div>
        <div class="single-gallery-image thirty-eight">
          <img
            src="../assets/images/gallery-images/Read-at-a-glance.jpg"
            alt=""
            class="thirty-eighth-image"
          />
        </div>
        <div class="single-gallery-image thirty-nine">
          <img
            src="../assets/images/gallery-images/Monotony-thoughts - Copy.jpg"
            alt=""
            class="thirty-nineth-image"
          />
        </div>
        <div class="single-gallery-image forty">
          <img
            src="../assets/images/gallery-images/Rush-hour.jpg"
            alt=""
            class="fortyth-image"
          />
        </div>
        <div class="single-gallery-image forty-one">
          <img
            src="../assets/images/gallery-images/In-any-weather.jpg"
            alt=""
            class="forty-first-image"
          />
        </div>
        <div class="single-gallery-image forty-two">
          <img
            src="../assets/images/gallery-images/Thoughts-on-lips.jpg"
            alt=""
            class="forty-second-image"
          />
        </div>
      </div>
      <!--Gallery Ten-->
      <div class="gallery-ten">
      
    <div class="single-gallery-image forty-three">
          <img
            src="../assets/images/gallery-images/On-occasion.jpg"
            alt=""
            class="forty-third-image"
          />
        </div>
        <div class="single-gallery-image forty-four">
          <img
            src="../assets/images/gallery-images/Secret.jpg"
            alt=""
            class="forty-fourth-image"
          />
        </div>
        <div class="single-gallery-image forty-five">
          <img
            src="../assets/images/gallery-images/All-around-me.jpg"
            alt=""
            class="forty-fifth-image"
          />
        </div>
        <div class="single-gallery-image forty-six">
          <img
            src="../assets/images/gallery-images/Woman-posing-in-studio.jpg"
            alt=""
            class="forty-sixth-image"
          />
        </div>
        <div class="single-gallery-image forty-seven">
          <img
            src="../assets/images/gallery-images/Playing-wind-768x920 - Copy.jpg"
            alt=""
            class="forty-seventh-image"
          />
        </div>
        <div class="single-gallery-image forty-eight">
          <img
          src="../assets/images/gallery-images/Mood-in-the-words.jpg"
          alt=""
          class="forty-eighth-image"
          />
        </div>
      </div>
      <!-- Gallery Eleven-->
      <div class="gallery-eleven">
        <div class="single-gallery-image gallery-eleven-container">
          <img
            src="../assets/images/gallery-images/Red-latte.jpg"
            alt=""
            class="gallery-eleven-image"
          />
        </div>
        <div class="single-gallery-image gallery-eleven-container">
          <img
            src="../assets/images/gallery-images/Only-in-a-storm.jpg"
            alt=""
            class="gallery-eleven-image"
          />
        </div>
        <div class="single-gallery-image gallery-eleven-container">
          <img
            src="../assets/images/gallery-images/Model-posing-outside-in-the.jpg"
            alt=""
            class="gallery-eleven-image"
          />
        </div>
        <div class="single-gallery-image gallery-eleven-container">
          <img
            src="../assets/images/gallery-images/attractive-young-woman-posing.jpg"
            alt=""
            class="gallery-eleven-image"
          />
        </div>
        <div class="single-gallery-image gallery-eleven-container">
          <img
            src="../assets/images/gallery-images/We-will-not-recognize.jpg"
            alt=""
            class="gallery-eleven-image"
          />
        </div>
        <div class="single-gallery-image gallery-eleven-container">
          <img
            src="../assets/images/gallery-images/Travels-in-time.jpg"
            alt=""
            class="gallery-eleven-image"
          />
        </div>
        <div class="single-gallery-image gallery-eleven-container">
          <img
            src="../assets/images/gallery-images/Divide-by-two.jpg"
            alt=""
            class="gallery-eleven-image"
          />
        </div>
        <div class="single-gallery-image gallery-eleven-container">
          <img
            src="../assets/images/gallery-images/Young-woman-posing.jpg"
            alt=""
            class="gallery-eleven-image"
          />
        </div>
      </div>
      </section>

      <footer class="footer-section">
        <div class="footer-items-container">

        
        <article class="email-section footer-single-item">

          <h4>SEND EMAIL</h4>
          <div class="small-underline"></div>
          <p class="footer-text">INFO@EXAMPLE.COM<br>CONTACTS@EXAMPLE.COM</p>
         
          <div class=" small-underline big-underline"></div>
        </article>
        <article class="call-section footer-single-item">
        <h4>CALL US</h4>
        <div class="small-underline"></div>
        <h3>800 1234 5678</h3>
        <div class=" small-underline big-underline"></div>
        </article>
        <article class="visit-section footer-single-item">
          <h4>VISIT US</h4>
          <div class="small-underline"></div>
          <p class="footer-text">4096 N HIGHLAND ST,<br>
          ARLINGTON VA 32101,USA</p>
          <div class="small-underline big-underline last-underline"></div>
        </article>
      </div>
        <article class="newsletter-section footer-single-item">
          <div class="footer-signup">

            <div class="copyright-text"><p>&copy; 2021 - Oni by GT3Themes. Image Credits.</p></div>
            <div class="newsletter-container">
              <h4>Newsletter Signup</h4>
              <div class="email-container">
                <input type="text" class="email-input" placeholder="Email Address">
                <button type="submit" class="signup-btn">
                  <span><i class="fas fa-envelope"></i></span>
                </button>
              </div>
              
            </div>
          </div>
          <!--Footer Icons-->
          <div class="social-icons footer-icons">
            <span>
              <a href=""><i class="fa-brands fa-twitter social-icon"></i></a>
              
            </span>
            
            <span>
              <a href=""><i class="fa-brands fa-linkedin-in social-icon"></i></a></span>
              <span>
                <a href="">
                  
                  <i class="fa-brands fa-facebook social-icon"></i
                    ></span>
                  </a>
                  <span>
                    <a href=""><i class="fa-brands fa-instagram social-icon"></i></a>
                  </span>
                </div>
        </article>
        </footer>
    </div>

    <script src="../JavaScript/contact.js"></script>
  </body>
</html>
