<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Works</title>
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="../assets/fontawesome-free-6.1.0-web/css/all.css"
    />
    <!-- Custom CSS-->
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    <nav class="nav-container">
        <a href="index.html" class="circles-container">
          <div class="big-circle circle">
            <div class="smaller-circle circle"></div>
          </div>
          <div class="smallest-circle circle"></div>
        </a>
  
        <!--Nav links-->
        <article class="nav-links-container">
          <ul class="link-list nav-links">
            <li class="home link-text">
              <a href="../index.html">HOME +</a>
            </li>
            <li class="pages link-text">
              <a href="./about.html">ABOUT +</a>
            </li>
  
            <!--End of Pages Dropdown-->
            <li class="works link-text">
              <a href="./works.html">WORKS +</a>
            </li>
            <li class="galleries link-text">
              <a href="../Views/gallery.html">GALLERIES +</a>
            </li>
            <li class="contact link-text">
              <a href="../Views/contact.html">CONTACT +</a>
            </li>
          </ul>
        </article>
        <article class="icon-border nav-icon bar-icon" id="home-bars">
          <span class="icon"><i class="fa-solid fa-bars"></i></span>
        </article>
  
        <article class="icon-border search-icon search-bar">
          <span class="icon home-icon">
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
        </article>
  
        <article class="icon-border nav-icon left-arrow" id="nav-menu">
          <span class="icon"><i class="fa-solid fa-angle-left"></i></span>
        </article>
      </nav>
         <!--Dropdown Menu-->
  <section class="dropdown-menu">
    <ul class="dropdown-menu-list">
      <li>
        <a href="./index.html">HOME</a>
        
      </li>
      <li >
        <a href="./Views/about.html">ABOUT</a>
        
      <li >
        <a href="./Views/works.html">WORKS</a>
      </li>
      <li >
        <a href="./Views/gallery.html">GALLERIES</a>
      </li>
      <li>
        <a href="./Views/contact.html">CONTACT</a>
      </li>
    </ul>
  </section>
   
        <!--Sidebar Menu-->
        <section class="sidebar-menu">
          <div class="sidebar-dark-container"></div>
  
          <div class="sidebar-menu-container">
            <div class="close-btn-container">
              <span><i class="fa fa-times" id="close-btn" aria-hidden="true"></i></span>
  
            </div>
            <h4 class="sidebar-header">ABOUT</h4>
            <article class="sidebar-profile"> 
              <div>
                <img src="../assets/images/about-me.jpg" alt="" class="sidebar-img">
              </div>
              <p>Sarah Johnes is the world’s most influential creative model agency photographer, founder and director of award-winning fashion website.</p>
            </article>
           <h4 class="address-header">CONTACTS</h4>
           <p class="address">4096 N Highland St, Arlington</p>
           <p class="address">VA 32101, USA.</p>
           <p class="address">info@example.com</p>
           <p class="address">800 1234 56 78</p>
           <h4>CATEGORIES</h4>
           <ul>
             <li>Animals</li>
             <li>Architecture</li>
             <li>Business & Work</li>
             <li>Editorial</li>
             <li>Fashion</li>
             <li>Food & Drink</li>
             <li>Nature</li>
             <li>Portrait</li>
             <li>Travel</li>
           </ul>
           <h4>NEWSLETTER SIGNUP</h4>
           <div class="email-container">
            <input type="text" class="email-input" placeholder="Email Address">
            <button type="submit" class="signup-btn">
              <span><i class="fas fa-envelope"></i></span>
            </button>
          </div>
        </div>
        
        </section>
  
            <!--Our Works-->
            <section class="works-section-container">
              <h1 class="section-header" id="works-header">Our Works</h1>
              <p class="works-text">Since today, film photography has already become basically history, then we will continue to talk about digital photography.</p>
      
              <ul class="works-section-links">
                <li><a href="#" class="works-link works-one">ALL <sup>(0)</sup></a></li>
                <li><a href="#" class="works-link works-two">EXPERIMENTAL <sup>(2)</sup></a></li>
      
                <li><a href="#" class="works-link">FASHION <sup>(3)</sup></a></li>
                <li><a href="#" class="works-link">PORTRAIT <sup>(1)</sup></a></li>
              </ul>
            </section>
            <section class="picture-container">
              <div class="single-image-container picture-1" title="Beautiful girl">
                <a href="#">
                  <img src="../assets/images/works/cheeky-girl-1200x1500.jpg" alt="Lady in Red" />
                  <article class="image-details">
                    <h6>EXPERIMENTAL</h6>
                    <h5>BEAUTIFUL GIRL</h5>
                  </article>
                  <div class="icon-container">
                    <span
                      ><i class="fa fa-plus picture-icon" aria-hidden="true"></i
                    ></span>
                  </div>
                </a>
              </div>
              <div class="single-image-container picture-2" title="Blue eyes">
                <a href="#">
                  <img src="../assets/images/works/An_Angel_of_Beauty-420x525.jpg" alt="Lady in Red" />
                  <article class="image-details">
                    <h6>FASHION</h6>
                    <h5>BLUE EYES</h5>
                  </article>
                  <div class="icon-container small-image-icon">
                    <span
                      ><i class="fa fa-plus picture-icon" aria-hidden="true"></i
                    ></span>
                  </div>
                </a>
              </div>
              <div class="single-image-container picture-3" title="In your thoughts">
                <a href="#">
                  <img src="../assets/images/in-your-thoughts.jpg" alt="Lady in Red" />
                  <article class="image-details">
                    <h6>FASHION</h6>
                    <h5>IN YOUR THOUGHTS</h5>
                  </article>
                  <div class="icon-container">
                    <span
                      ><i class="fa fa-plus picture-icon" aria-hidden="true"></i
                    ></span>
                  </div>
                </a>
              </div>
              <div class="single-image-container picture-4" title="Attractive girl">
                <a href="#">
                  <img src="../assets/images/works/In-The-Smoke-600x750.jpg" alt="Lady in Red" />
                  <article class="image-details">
                    <h6>EXPERIMENTAL</h6>
                    <h5>ACTRACTIVE GIRL</h5>
                  </article>
                  <div class="icon-container">
                    <span
                      ><i class="fa fa-plus picture-icon" aria-hidden="true"></i
                    ></span>
                  </div>
                </a>
              </div>
              <div class="single-image-container picture-5" title="City project">
                <a href="#">
                  <img src="../assets/images/works/project_img_08-400x500.jpg" alt="Lady in Red" />
                  <article class="image-details">
                    <h6>FASHION</h6>
                    <h5>CITY PROJECT</h5>
                  </article>
                  <div class="icon-container small-image-icon">
                    <span
                      ><i class="fa fa-plus picture-icon" aria-hidden="true"></i
                    ></span>
                  </div>
                </a>
              </div>
              <div
                class="single-image-container picture-6"
                title="An angel of beauty"
              >
                <a href="#">
                  <img
                    src="../assets/images/An-Angel-of-Beauty.jpg"
                    alt="Lady in Red"
                  />
                  <article class="image-details">
                    <h6>PORTRAIT</h6>
                    <h5>AN ANGEL OF BEAUTY</h5>
                  </article>
                  <div class="icon-container small-image-icon">
                    <span
                      ><i class="fa fa-plus picture-icon" aria-hidden="true"></i
                    ></span>
                  </div>
                </a>
              </div>
            </section>
            <section class="works-page-link-container">
              <div class="work-page-single-link ">
                <a href="./works.html" class="work-page-single-link">
                    <article class=" nav-icon left-arrow">
                        <span class="icon"><i class="fa-solid fa-angle-left"></i></span>
                      </article>
                </a>
      
            </div>
              <div class="work-page-single-link">
                <a href="./works.html" class="work-page-single-link">
                    1
              </a>
    
            </div>
              <div class="work-page-single-link works-first-link">
                  2
              </div>
              
           
          </section>
            
            <div class="nav-arrow">
              <a href="#">
                <span>
                  <i class="fa fa-arrow-up up-arrow" aria-hidden="true"></i
                ></span>
              </a>
            </div>
            
            <!--End of Sections-->
      <article class="newsletter-section footer-single-item works-footer">
          <div class="footer-signup">
  
            <div class="copyright-text"><p>&copy; 2021 - Oni by GT3Themes. Image Credits.</p></div>
            <div class="newsletter-container">
              <h4>Newsletter Signup</h4>
              <div class="email-container">
                <input type="text" class="email-input" placeholder="Email Address">
                <button type="submit" class="signup-btn">
                  <span><i class="fas fa-envelope"></i></span>
                </button>
              </div>
              
            </div>
          </div>
          <!--Footer Icons-->
          
          <div class="social-icons footer-icons">
            <span>
              <a href=""><i class="fa-brands fa-twitter social-icon"></i></a>
              
            </span>
            
            <span>
              <a href=""><i class="fa-brands fa-linkedin-in social-icon"></i></a></span>
              <span>
                <a href="">
                  
                  <i class="fa-brands fa-facebook social-icon"></i
                    ></span>
                  </a>
                  <span>
                    <a href=""><i class="fa-brands fa-instagram social-icon"></i></a>
                  </span>
                </div>
        </article>
      </body>
      <script src="../JavaScript/contact.js"></script>
</html>
